# Database files

BAC_light.db
BAC_light.iml


# Sssssh, it's a secret...
vk/vk_secrets.ini


# Intellij IDEA project files

.idea/


# Python bytecode

__pycache__/


# .log files

command_errors.log
users_caching.log
vk_info.log


# venv
venv/
